#prof_pic {
    max-width: 240px!important;
}

.media img:not(.profile) {
    border-radius: .25rem!important;
    width: 100%!important;
    max-width: 100%!important;
    height: auto!important;
}

.profile {
    border-radius: 50%!important;
    width: 45px!important;
    height: 45px!important;
    margin-right: 1rem!important;
}

body:not(.theme-dark) .border {
    border-color: #000!important;
}

.nav-pills {
    border-bottom: 5px solid #007bff;
}

.nav-link {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}